.scroll {
  overflow-y: scroll;
  height: 500px;
}

.cursor {
  cursor: pointer;
}
/* width */
.scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(249, 78, 78);
  border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wifi {
  width: 97vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  background: #ffffff;
}
.wifi_admin {
  width: 50vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  background: #ffffff01;
}
